*{margin:0;padding:0;}
ul{list-style:none;}
html,body{width:100%;height:100%;}
body{position:relative;margin:0 auto;
	display:flex;justify-content:center; align-items:center;
	background-image:url(bg.jpg);
}
#con{margin:10px auto;}
table{
	border-collapse: collapse;
	box-shadow:5px 5px 15px 5px skyblue;
	background-color: #e7eefe;
}
table td ,table th{
	border:1px solid #75e9f6;
	padding:30px 50px;
	font-size:20px;
}
table th{background:#ccc;}
table tr:nth-child(even){
	background:skyblue;
}
table caption{
	height:40px;line-height:40px;
	background:#75e9f6;
	color:#fff;
	text-align: left;
	font-size:20px;
	text-indent:4em;
}
table caption>a{
	float:right;
	margin-right:80px;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
}

table caption>a:hover{color:#012059;}
table tbody tr.add{
	animation-name:add;
}
table tbody tr.del{
	animation-name:del;
}
table tbody tr.del,table tbody tr.add{
	animation-duration: 0.5s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
}

@keyframes add{
	from {transform: translateX(-100%);opacity: 0}
	to{transform: translateX(0%);opacity: 1;}
}
@keyframes del{
	from {transform:translateX(0%);opacity: 1}
	to{transform:translateX(100%);opacity: 0}
}

#overlay{
	position:absolute;
	top:0;left:0;
	width:100%;height: 100%;
	display:none;
	background:rgba(0,0,0,.5);
	perspective: 500px;
}
#content{
	background-color:white;
	padding:50px 100px;
	position:absolute;
	left:50%;top:50%;

	transform:translateX(-50%) translateY(-50%) rotateY(-90deg);
}
#content .title{
	position:absolute;top:0;left:0;
	width:100%;height:60px;
}
#content .title>h1{
	background-color:skyblue;
	text-align:center;
	color:white;height:100%;
	line-height:60px;
}
#content .title>span{
	border:1px solid white;
	position:absolute;
	right:10px;top:50%;
	color:white;width:36px;
	height:36px;border-radius:18px;
	font-size:25px;
	line-height:36px;
	text-align:center;
	transform:translateY(-50%);
	cursor:pointer;
}
ul{margin-top:60px;}
ul li{padding-top:5px;padding-bottom:5px;}
ul li:last-child{text-align:center;}
#content label{
	width:100px;display:inline-block;
}
#content input,#content option{
	height:24px;text-indent:1em;width:200px;display: inline-block;
}

#content input.btn{
	width:80px;
	text-indent: 0;
	background-color:skyblue;
	color:white;
	text-align: center;
}
.show,.hide{
	animation-duration:0.6s;
	animation-timing-function:linear;
	animation-fill-mode:forwards;
}
.show{animation-name:show;}
.hide{animation-name:hide;}
@keyframes show{
	from{
		opacity:0;
		transform:translateX(-50%) translateY(-50%) rotateY(-90deg);
	}
	to{
		opacity:1;
		transform:translateX(-50%) translateY(-50%) rotateY(0deg);
	}
}
@keyframes hide{
	from{
		opacity:1;
		transform:translateX(-50%) translateY(-50%) rotateY(0deg);
	}
	to{
		opacity:0;
		transform:translateX(-50%) translateY(-50%) rotateY(-90deg);
	}
}
